* {
    margin: 0px; padding: 0px;
}
header {
    background: url('../image/img.jpg');
    width: 100vw; height: 100vh;
   
}
header div {
    display: grid;
    grid-template-columns: 300px 500px;
    grid-template-rows: 80px; 
    padding-top: 10px;
}
header div h1 {
    border: 4px solid white;
    color: white; 
    font-size: 28px; 
    text-transform: uppercase;
    padding: 10px; 
    
}